%form{ :controller => 'search', :action => 'search' }
  %input{ :type => 'text', :name => 'q', :placeholder => 'Enter a keyword', :value => @query_parameter }
  %input{ :type => 'submit', :value => 'Search' }
